<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	BBEdit codeless language module for Apache configuration files.
	John Gruber  <http://daringfireball.net/>
	Version 1.0.10 (unofficial)
	Sun 14 Feb 2016

	Released under a Creative Commons Attribution-ShareAlike License:
	<http://creativecommons.org/licenses/by-sa/2.0/>
	
	Requires BBEdit 8.0 / TextWrangler 3.5 or higher. To install, copy to either:
	
		~/Library/Application Support/BBEdit/Language Modules/
		~/Library/Application Support/TextWrangler/Language Modules/
	
	and relaunch BBEdit or TextWrangler.
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>

		<!-- New for Apache 2.5: -->
		<string>AllowHandlers</string>
		<string>AsyncFilter</string>
		<string>BrotliAlterETag</string>
		<string>BrotliCompressionMaxInputBlock</string>
		<string>BrotliCompressionQuality</string>
		<string>BrotliCompressionWindow</string>
		<string>BrotliFilterNote</string>
		<string>CGIDRequestTimeout</string>
		<string>CheckBasenameMatch</string>
		<string>CryptoCipher</string>
		<string>CryptoDriver</string>
		<string>CryptoIV</string>
		<string>CryptoKey</string>
		<string>CryptoSize</string>
		<string>CTAuditStorage</string>
		<string>CTLogClient</string>
		<string>CTLogConfigDB</string>
		<string>CTMaxSCTAge</string>
		<string>CTProxyAwareness</string>
		<string>CTSCTStorage</string>
		<string>CTServerHelloSCTLimit</string>
		<string>CTStaticLogConfig</string>
		<string>CTStaticSCTs</string>
		<string>DeflateAlterETag</string>
		<string>FirehoseConnectionInput</string>
		<string>FirehoseConnectionOutput</string>
		<string>FirehoseProxyConnectionInput</string>
		<string>FirehoseProxyConnectionOutput</string>
		<string>FirehoseRequestInput</string>
		<string>FirehoseRequestOutput</string>
		<string>HttpContentLengthHeadZero</string>
		<string>HttpExpectStrict</string>
		<string>HttpProtocol</string>
		<string>IdleShutdown</string>
		<string>IfFile</string>
		<string>/IfFile</string>
		<string>LogLevelOverride</string>
		<string>MacroIgnoreBadNesting</string>
		<string>MacroIgnoreEmptyArgs</string>
		<string>PolicyConditional</string>
		<string>PolicyConditionalURL</string>
		<string>PolicyEnvironment</string>
		<string>PolicyFilter</string>
		<string>PolicyKeepalive</string>
		<string>PolicyKeepaliveURL</string>
		<string>PolicyLength</string>
		<string>PolicyLengthURL</string>
		<string>PolicyMaxage</string>
		<string>PolicyMaxageURL</string>
		<string>PolicyNocache</string>
		<string>PolicyNocacheURL</string>
		<string>PolicyType</string>
		<string>PolicyTypeURL</string>
		<string>PolicyValidation</string>
		<string>PolicyValidationURL</string>
		<string>PolicyVary</string>
		<string>PolicyVaryURL</string>
		<string>PolicyVersion</string>
		<string>PolicyVersionURL</string>
		<string>ProxyFCGIBackendType</string>
		<string>ProxyFCGISetEnvIf</string>
		<string>ProxyWebsocketAsync</string>
		<string>ProxyWebsocketAsyncDelay</string>
		<string>ProxyWebsocketIdleTimeout</string>
		<string>RegisterHttpMethod</string>
		<string>RemoteIPProxyProtocol</string>
		<string>SessionExpiryUpdateInterval</string>
		<string>SSLOCSPNoverify</string>
		<string>SSLOCSPResponderCertificateFile</string>
		<string>Warning</string>

		<!-- New for Apache 2.4: -->
		<string>AllowMethods</string>
		<string>AllowOverrideList</string>
		<string>AsyncRequestWorkerFactor</string>
		<string>AuthBasicFake</string>
		<string>AuthBasicUseDigestAlgorithm</string>
		<string>AuthFormAuthoritative</string>
		<string>AuthFormBody</string>
		<string>AuthFormDisableNoStore</string>
		<string>AuthFormFakeBasicAuth</string>
		<string>AuthFormLocation</string>
		<string>AuthFormLoginRequiredLocation</string>
		<string>AuthFormLoginSuccessLocation</string>
		<string>AuthFormLogoutLocation</string>
		<string>AuthFormMethod</string>
		<string>AuthFormMimetype</string>
		<string>AuthFormPassword</string>
		<string>AuthFormProvider</string>
		<string>AuthFormSitePassphrase</string>
		<string>AuthFormSize</string>
		<string>AuthFormUsername</string>
		<string>AuthLDAPAuthorizePrefix</string>
		<string>AuthLDAPBindAuthoritative</string>
		<string>AuthLDAPCompareAsUser</string>
		<string>AuthLDAPInitialBindAsUser</string>
		<string>AuthLDAPInitialBindPattern</string>
		<string>AuthLDAPMaxSubGroupDepth</string>
		<string>AuthLDAPSearchAsUser</string>
		<string>AuthLDAPSubGroupAttribute</string>
		<string>AuthLDAPSubGroupClass</string>
		<string>AuthMerging</string>
		<string>AuthnCacheContext</string>
		<string>AuthnCacheEnable</string>
		<string>AuthnCacheProvideFor</string>
		<string>AuthnCacheSOCache</string>
		<string>AuthnCacheTimeout</string>
		<string>AuthnzFcgiCheckAuthnProvider</string>
		<string>AuthnzFcgiDefineProvider</string>
		<string>AuthzDBDLoginToReferer</string>
		<string>AuthzDBDQuery</string>
		<string>AuthzDBDRedirectQuery</string>
		<string>AuthzProviderAlias</string>
		<string>/AuthzProviderAlias</string>
		<string>AuthzSendForbiddenOnFailure</string>
		<string>BalancerGrowth</string>
		<string>BalancerInherit</string>
		<string>BalancerPersist</string>
		<string>BufferSize</string>
		<string>CacheDetailHeader</string>
		<string>CacheHeader</string>
		<string>CacheIgnoreURLSessionIdentifiers</string>
		<string>CacheKeyBaseURL</string>
		<string>CacheLock</string>
		<string>CacheLockMaxAge</string>
		<string>CacheLockPath</string>
		<string>CacheMinExpire</string>
		<string>CacheQuickHandler</string>
		<string>CacheReadSize</string>
		<string>CacheReadTime</string>
		<string>CacheSocache</string>
		<string>CacheSocacheMaxSize</string>
		<string>CacheSocacheMaxTime</string>
		<string>CacheSocacheMinTime</string>
		<string>CacheSocacheReadSize</string>
		<string>CacheSocacheReadTime</string>
		<string>CacheStaleOnError</string>
		<string>CacheStoreExpired</string>
		<string>CGIDScriptTimeout</string>
		<string>CGIPassAuth</string>
		<string>ChrootDir</string>
		<string>DBDInitSQL</string>
		<string>DefaultRuntimeDir</string>
		<string>Define</string>
		<string>DeflateInflateLimitRequestBody</string>
		<string>DeflateInflateRatioBurst</string>
		<string>DeflateInflateRatioLimit</string>
		<string>DirectoryCheckHandler</string>
		<string>DirectoryIndexRedirect</string>
		<string>DTracePrivileges</string>
		<string>Else</string>
		<string>/Else</string>
		<string>ElseIf</string>
		<string>/ElseIf</string>
		<string>Error</string>
		<string>ErrorLogFormat</string>
		<string>FallbackResource</string>
		<string>GlobalLog</string>
		<string>GprofDir</string>
		<string>HeartbeatAddress</string>
		<string>HeartbeatListen</string>
		<string>HeartbeatMaxServers</string>
		<string>HeartbeatStorage</string>
		<string>If</string>
		<string>/If</string>
		<string>IncludeOptional</string>
		<string>IndexHeadInsert</string>
		<string>IndexIgnoreReset</string>
		<string>InputSed</string>
		<string>KeptBodySize</string>
		<string>LDAPConnectionPoolTTL</string>
		<string>LDAPLibraryDebug</string>
		<string>LDAPReferralHopLimit</string>
		<string>LDAPReferrals</string>
		<string>LDAPRetries</string>
		<string>LDAPRetryDelay</string>
		<string>LDAPTimeout</string>
		<string>ListenCoresBucketsRatio</string>
		<string>LogMessage</string>
		<string>LuaAuthzProvider</string>
		<string>LuaCodeCache</string>
		<string>LuaHookAccessChecker</string>
		<string>LuaHookAuthChecker</string>
		<string>LuaHookCheckUserID</string>
		<string>LuaHookFixups</string>
		<string>LuaHookInsertFilter</string>
		<string>LuaHookLog</string>
		<string>LuaHookMapToStorage</string>
		<string>LuaHookTranslateName</string>
		<string>LuaHookTypeChecker</string>
		<string>LuaInherit</string>
		<string>LuaInputFilter</string>
		<string>LuaMapHandler</string>
		<string>LuaOutputFilter</string>
		<string>LuaPackageCPath</string>
		<string>LuaPackagePath</string>
		<string>LuaQuickHandler</string>
		<string>LuaRoot</string>
		<string>LuaScope</string>
		<string>Macro</string>
		<string>/Macro</string>
		<string>MaxConnectionsPerChild</string>
		<string>MaxRangeOverlaps</string>
		<string>MaxRangeReversals</string>
		<string>MaxRanges</string>
		<string>MaxRequestWorkers</string>
		<string>MergeTrailers</string>
		<string>ModemStandard</string>
		<string>Mutex</string>
		<string>OutputSed</string>
		<string>PrivilegesMode</string>
		<string>Protocol</string>
		<string>ProxyAddHeaders</string>
		<string>ProxyExpressDBMFile</string>
		<string>ProxyExpressDBMType</string>
		<string>ProxyExpressEnable</string>
		<string>ProxyFtpDirCharset</string>
		<string>ProxyFtpEscapeWildcards</string>
		<string>ProxyFtpListOnWildcard</string>
		<string>ProxyHTMLBufSize</string>
		<string>ProxyHTMLCharsetOut</string>
		<string>ProxyHTMLDocType</string>
		<string>ProxyHTMLEnable</string>
		<string>ProxyHTMLEvents</string>
		<string>ProxyHTMLExtended</string>
		<string>ProxyHTMLFixups</string>
		<string>ProxyHTMLInterp</string>
		<string>ProxyHTMLLinks</string>
		<string>ProxyHTMLMeta</string>
		<string>ProxyHTMLStripComments</string>
		<string>ProxyHTMLURLMap</string>
		<string>ProxyPassInherit</string>
		<string>ProxyPassInterpolateEnv</string>
		<string>ProxyPassMatch</string>
		<string>ProxySCGIInternalRedirect</string>
		<string>ProxySCGISendfile</string>
		<string>ProxySet</string>
		<string>ProxySourceAddress</string>
		<string>ProxyStatus</string>
		<string>ReflectorHeader</string>
		<string>RemoteIPHeader</string>
		<string>RemoteIPInternalProxy</string>
		<string>RemoteIPInternalProxyList</string>
		<string>RemoteIPProxiesHeader</string>
		<string>RemoteIPTrustedProxy</string>
		<string>RemoteIPTrustedProxyList</string>
		<string>RequestReadTimeout</string>
		<string>RequireAll</string>
		<string>/RequireAll</string>
		<string>RequireAny</string>
		<string>/RequireAny</string>
		<string>RequireNone</string>
		<string>/RequireNone</string>
		<string>SeeRequestTail</string>
		<string>Session</string>
		<string>SessionCookieName</string>
		<string>SessionCookieName2</string>
		<string>SessionCookieRemove</string>
		<string>SessionCryptoCipher</string>
		<string>SessionCryptoDriver</string>
		<string>SessionCryptoPassphrase</string>
		<string>SessionCryptoPassphraseFile</string>
		<string>SessionDBDCookieName</string>
		<string>SessionDBDCookieName2</string>
		<string>SessionDBDCookieRemove</string>
		<string>SessionDBDDeleteLabel</string>
		<string>SessionDBDInsertLabel</string>
		<string>SessionDBDPerUser</string>
		<string>SessionDBDSelectLabel</string>
		<string>SessionDBDUpdateLabel</string>
		<string>SessionEnv</string>
		<string>SessionExclude</string>
		<string>SessionHeader</string>
		<string>SessionInclude</string>
		<string>SessionMaxAge</string>
		<string>SetEnvIfExpr</string>
		<string>SSIETag</string>
		<string>SSILastModified</string>
		<string>SSILegacyExprParser</string>
		<string>SSLCARevocationCheck</string>
		<string>SSLCompression</string>
		<string>SSLFIPS</string>
		<string>SSLInsecureRenegotiation</string>
		<string>SSLOCSPDefaultResponder</string>
		<string>SSLOCSPEnable</string>
		<string>SSLOCSPOverrideResponder</string>
		<string>SSLOCSPResponderTimeout</string>
		<string>SSLOCSPResponseMaxAge</string>
		<string>SSLOCSPResponseTimeSkew</string>
		<string>SSLOCSPUseRequestNonce</string>
		<string>SSLOpenSSLConfCmd</string>
		<string>SSLProxyCARevocationCheck</string>
		<string>SSLProxyCheckPeerCN</string>
		<string>SSLProxyCheckPeerExpire</string>
		<string>SSLProxyCheckPeerName</string>
		<string>SSLProxyMachineCertificateChainFile</string>
		<string>SSLRenegBufferSize</string>
		<string>SSLSessionTicketKeyFile</string>
		<string>SSLSRPUnknownUserSeed</string>
		<string>SSLSRPVerifierFile</string>
		<string>SSLStaplingCache</string>
		<string>SSLStaplingErrorCacheTimeout</string>
		<string>SSLStaplingFakeTryLater</string>
		<string>SSLStaplingForceURL</string>
		<string>SSLStaplingResponderTimeout</string>
		<string>SSLStaplingResponseMaxAge</string>
		<string>SSLStaplingResponseTimeSkew</string>
		<string>SSLStaplingReturnResponderErrors</string>
		<string>SSLStaplingStandardCacheTimeout</string>
		<string>SSLStrictSNIVHostCheck</string>
		<string>SSLUseStapling</string>
		<string>Substitute</string>
		<string>SubstituteMaxLineLength</string>
		<string>Suexec</string>
		<string>UnDefine</string>
		<string>UndefMacro</string>
		<string>Use</string>
		<string>VHostCGIMode</string>
		<string>VHostCGIPrivs</string>
		<string>VHostGroup</string>
		<string>VHostPrivs</string>
		<string>VHostSecure</string>
		<string>VHostUser</string>
		<string>WatchdogInterval</string>
		<string>xml2EncAlias</string>
		<string>xml2EncDefault</string>
		<string>xml2StartParse</string>

		<!-- New for Apache 2.2: -->
		<string>AcceptFilter</string>
		<string>AuthBasicAuthoritative</string>
		<string>AuthBasicProvider</string>
		<string>AuthDBDUserPWQuery</string>
		<string>AuthDBDUserRealmQuery</string>
		<string>AuthDefaultAuthoritative</string>
		<string>AuthDigestProvider</string>
		<string>AuthLDAPRemoteUserAttribute</string>
		<string>AuthnProviderAlias</string>
		<string>/AuthnProviderAlias</string>
		<string>AuthzDBMAuthoritative</string>
		<string>AuthzDBMType</string>
		<string>AuthzDefaultAuthoritative</string>
		<string>AuthzGroupFileAuthoritative</string>
		<string>AuthzLDAPAuthoritative</string>
		<string>AuthzOwnerAuthoritative</string>
		<string>AuthzUserAuthoritative</string>
		<string>BalancerMember</string>
		<string>BufferedLogs</string>
		<string>CacheIgnoreHeaders</string>
		<string>CacheIgnoreQueryString</string>
		<string>CacheStoreNoStore</string>
		<string>CacheStorePrivate</string>
		<string>CheckCaseOnly</string>
		<string>DavGenericLockDB</string>
		<string>DBDExptime</string>
		<string>DBDKeep</string>
		<string>DBDMax</string>
		<string>DBDMin</string>
		<string>DBDParams</string>
		<string>DBDPersist</string>
		<string>DBDPrepareSQL</string>
		<string>DBDriver</string>
		<string>DumpIOInput</string>
		<string>DumpIOLogLevel</string>
		<string>DumpIOOutput</string>
		<string>FilterChain</string>
		<string>FilterDeclare</string>
		<string>FilterProtocol</string>
		<string>FilterProvider</string>
		<string>FilterTrace</string>
		<string>GracefulShutdownTimeout</string>
		<string>IdentityCheckTimeout</string>
		<string>IfVersion</string>
		<string>/IfVersion</string>
		<string>IndexStyleSheet</string>
		<string>LDAPConnectionTimeout</string>
		<string>LDAPTrustedClientCert</string>
		<string>LDAPTrustedGlobalCert</string>
		<string>LDAPTrustedMode</string>
		<string>LDAPVerifyServerCert</string>
		<string>ProxyPassReverseCookieDomain</string>
		<string>ProxyPassReverseCookiePath</string>
		<string>ReceiveBufferSize</string>
		<string>SSLCADNRequestFile</string>
		<string>SSLCADNRequestPath</string>
		<string>SSLCryptoDevice</string>
		<string>SSLHonorCipherOrder</string>
		<string>SSLUserName</string>
		<string>TraceEnable</string>
		<string>UseCanonicalPhysicalPort</string>

		<!-- Apache 2.0 directives (including those deprecated in 2.2): -->
		<string>AcceptMutex</string>
		<string>AcceptPathInfo</string>
		<string>AccessConfig</string>
		<string>AccessFileName</string>
		<string>Action</string>
		<string>AddAlt</string>
		<string>AddAltByEncoding</string>
		<string>AddAltByType</string>
		<string>AddCharset</string>
		<string>AddDefaultCharset</string>
		<string>AddDescription</string>
		<string>AddEncoding</string>
		<string>AddHandler</string>
		<string>AddIcon</string>
		<string>AddIconByEncoding</string>
		<string>AddIconByType</string>
		<string>AddInputFilter</string>
		<string>AddLanguage</string>
		<string>AddModule</string>
		<string>AddModuleInfo</string>
		<string>AddOutputFilter</string>
		<string>AddOutputFilterByType</string>
		<string>AddType</string>
		<string>AgentLog</string>
		<string>Alias</string>
		<string>AliasMatch</string>
		<string>Allow</string>
		<string>AllowCONNECT</string>
		<string>AllowEncodedSlashes</string>
		<string>AllowOverride</string>
		<string>Anonymous</string>
		<string>Anonymous_Authoritative</string>
		<string>Anonymous_LogEmail</string>
		<string>Anonymous_MustGiveEmail</string>
		<string>Anonymous_NoUserID</string>
		<string>Anonymous_VerifyEmail</string>
		<string>AssignUserID</string>
		<string>AuthAuthoritative</string>
		<string>AuthDBAuthoritative</string>
		<string>AuthDBGroupFile</string>
		<string>AuthDBMAuthoritative</string>
		<string>AuthDBMGroupFile</string>
		<string>AuthDBMType</string>
		<string>AuthDBMUserFile</string>
		<string>AuthDBUserFile</string>
		<string>AuthDigestAlgorithm</string>
		<string>AuthDigestDomain</string>
		<string>AuthDigestFile</string>
		<string>AuthDigestGroupFile</string>
		<string>AuthDigestNcCheck</string>
		<string>AuthDigestNonceFormat</string>
		<string>AuthDigestNonceLifetime</string>
		<string>AuthDigestQop</string>
		<string>AuthDigestShmemSize</string>
		<string>AuthGroupFile</string>
		<string>AuthLDAPAuthoritative</string>
		<string>AuthLDAPBindDN</string>
		<string>AuthLDAPBindPassword</string>
		<string>AuthLDAPCharsetConfig</string>
		<string>AuthLDAPCompareDNOnServer</string>
		<string>AuthLDAPDereferenceAliases</string>
		<string>AuthLDAPEnabled</string>
		<string>AuthLDAPFrontPageHack</string>
		<string>AuthLDAPGroupAttribute</string>
		<string>AuthLDAPGroupAttributeIsDN</string>
		<string>AuthLDAPRemoteUserIsDN</string>
		<string>AuthLDAPUrl</string>
		<string>AuthName</string>
		<string>AuthType</string>
		<string>AuthUserFile</string>
		<string>BS2000Account</string>
		<string>BindAddress</string>
		<string>BrowserMatch</string>
		<string>BrowserMatchNoCase</string>
		<string>CGICommandArgs</string>
		<string>CGIMapExtension</string>
		<string>CacheDefaultExpire</string>
		<string>CacheDirLength</string>
		<string>CacheDirLevels</string>
		<string>CacheDisable</string>
		<string>CacheEnable</string>
		<string>CacheExpiryCheck</string>
		<string>CacheFile</string>
		<string>CacheForceCompletion</string>
		<string>CacheGcClean</string>
		<string>CacheGcDaily</string>
		<string>CacheGcInterval</string>
		<string>CacheGcMemUsage</string>
		<string>CacheGcUnused</string>
		<string>CacheIgnoreCacheControl</string>
		<string>CacheIgnoreNoLastMod</string>
		<string>CacheLastModifiedFactor</string>
		<string>CacheMaxExpire</string>
		<string>CacheMaxFileSize</string>
		<string>CacheMinFileSize</string>
		<string>CacheNegotiatedDocs</string>
		<string>CacheRoot</string>
		<string>CacheSize</string>
		<string>CacheTimeMargin</string>
		<string>CharsetDefault</string>
		<string>CharsetOptions</string>
		<string>CharsetSourceEnc</string>
		<string>CheckSpelling</string>
		<string>ChildPerUserID</string>
		<string>ClearModuleList</string>
		<string>ContentDigest</string>
		<string>CookieDomain</string>
		<string>CookieExpires</string>
		<string>CookieFormat</string>
		<string>CookieLog</string>
		<string>CookieName</string>
		<string>CookiePrefix</string>
		<string>CookieStyle</string>
		<string>CookieTracking</string>
		<string>CoreDumpDirectory</string>
		<string>CustomLog</string>
		<string>Dav</string>
		<string>DavDepthInfinity</string>
		<string>DavLockDB</string>
		<string>DavMinTimeout</string>
		<string>DefaultIcon</string>
		<string>DefaultLanguage</string>
		<string>DefaultType</string>
		<string>DeflateBufferSize</string>
		<string>DeflateCompressionLevel</string>
		<string>DeflateFilterNote</string>
		<string>DeflateMemLevel</string>
		<string>DeflateWindowSize</string>
		<string>Deny</string>
		<string>Directory</string>
		<string>/Directory</string>
		<string>DirectoryIndex</string>
		<string>DirectoryMatch</string>
		<string>/DirectoryMatch</string>
		<string>DirectorySlash</string>
		<string>DocumentRoot</string>
		<string>EBCDICConvert</string>
		<string>EBCDICConvertByType</string>
		<string>EBCDICKludge</string>
		<string>EnableExceptionHook</string>
		<string>EnableMMAP</string>
		<string>EnableSendfile</string>
		<string>ErrorDocument</string>
		<string>ErrorHeader</string>
		<string>ErrorLog</string>
		<string>Example</string>
		<string>ExpiresActive</string>
		<string>ExpiresByType</string>
		<string>ExpiresDefault</string>
		<string>ExtFilterDefine</string>
		<string>ExtFilterOptions</string>
		<string>ExtendedStatus</string>
		<string>FancyIndexing</string>
		<string>FileETag</string>
		<string>Files</string>
		<string>/Files</string>
		<string>FilesMatch</string>
		<string>/FilesMatch</string>
		<string>ForceLanguagePriority</string>
		<string>ForceType</string>
		<string>ForensicLog</string>
		<string>Group</string>
		<string>Header</string>
		<string>HeaderName</string>
		<string>HostnameLookups</string>
		<string>ISAPIAppendLogToErrors</string>
		<string>ISAPIAppendLogToQuery</string>
		<string>ISAPICacheFile</string>
		<string>ISAPIFakeAsync</string>
		<string>ISAPILogNotSupported</string>
		<string>ISAPIReadAheadBuffer</string>
		<string>IdentityCheck</string>
		<string>IfDefine</string>
		<string>/IfDefine</string>
		<string>IfModule</string>
		<string>/IfModule</string>
		<string>ImapBase</string>
		<string>ImapDefault</string>
		<string>ImapMenu</string>
		<string>Include</string>
		<string>IndexIgnore</string>
		<string>IndexOptions</string>
		<string>IndexOrderDefault</string>
		<string>KeepAlive</string>
		<string>KeepAliveTimeout</string>
		<string>LDAPCacheEntries</string>
		<string>LDAPCacheTTL</string>
		<string>LDAPOpCacheEntries</string>
		<string>LDAPOpCacheTTL</string>
		<string>LDAPSharedCacheFile</string>
		<string>LDAPSharedCacheSize</string>
		<string>LDAPTrustedCA</string>
		<string>LDAPTrustedCAType</string>
		<string>LanguagePriority</string>
		<string>Limit</string>
		<string>/Limit</string>
		<string>LimitExcept</string>
		<string>/LimitExcept</string>
		<string>LimitInternalRecursion</string>
		<string>LimitRequestBody</string>
		<string>LimitRequestFieldSize</string>
		<string>LimitRequestFields</string>
		<string>LimitRequestLine</string>
		<string>LimitXMLRequestBody</string>
		<string>Listen</string>
		<string>ListenBackLog</string>
		<string>LoadFile</string>
		<string>LoadModule</string>
		<string>Location</string>
		<string>/Location</string>
		<string>LocationMatch</string>
		<string>/LocationMatch</string>
		<string>LockFile</string>
		<string>LogFormat</string>
		<string>LogLevel</string>
		<string>MCacheMaxObjectCount</string>
		<string>MCacheMaxObjectSize</string>
		<string>MCacheMaxStreamingBuffer</string>
		<string>MCacheMinObjectSize</string>
		<string>MCacheRemovalAlgorithm</string>
		<string>MCacheSize</string>
		<string>MMapFile</string>
		<string>MaxClients</string>
		<string>MaxKeepAliveRequests</string>
		<string>MaxMemFree</string>
		<string>MaxRequestsPerChild</string>
		<string>MaxRequestsPerThread</string>
		<string>MaxSpareServers</string>
		<string>MaxSpareThreads</string>
		<string>MaxThreads</string>
		<string>MaxThreadsPerChild</string>
		<string>MetaDir</string>
		<string>MetaFiles</string>
		<string>MetaSuffix</string>
		<string>MimeMagicFile</string>
		<string>MinSpareServers</string>
		<string>MinSpareThreads</string>
		<string>ModMimeUsePathInfo</string>
		<string>MultiviewsMatch</string>
		<string>NWSSLTrustedCerts</string>
		<string>NWSSLUpgradeable</string>
		<string>NameVirtualHost</string>
		<string>NoCache</string>
		<string>NoProxy</string>
		<string>NumServers</string>
		<string>Options</string>
		<string>Order</string>
		<string>PassEnv</string>
		<string>PidFile</string>
		<string>Port</string>
		<string>ProtocolEcho</string>
		<string>ProtocolReqCheck</string>
		<string>Proxy</string>
		<string>/Proxy</string>
		<string>ProxyBadHeader</string>
		<string>ProxyBlock</string>
		<string>ProxyDomain</string>
		<string>ProxyErrorOverride</string>
		<string>ProxyIOBufferSize</string>
		<string>ProxyMatch</string>
		<string>/ProxyMatch</string>
		<string>ProxyMaxForwards</string>
		<string>ProxyPass</string>
		<string>ProxyPassReverse</string>
		<string>ProxyPreserveHost</string>
		<string>ProxyReceiveBufferSize</string>
		<string>ProxyRemote</string>
		<string>ProxyRemoteMatch</string>
		<string>ProxyRequests</string>
		<string>ProxyTimeout</string>
		<string>ProxyVia</string>
		<string>RLimitCPU</string>
		<string>RLimitMEM</string>
		<string>RLimitNPROC</string>
		<string>ReadmeName</string>
		<string>Redirect</string>
		<string>RedirectMatch</string>
		<string>RedirectPermanent</string>
		<string>RedirectTemp</string>
		<string>RefererIgnore</string>
		<string>RefererLog</string>
		<string>RemoveCharset</string>
		<string>RemoveEncoding</string>
		<string>RemoveHandler</string>
		<string>RemoveInputFilter</string>
		<string>RemoveLanguage</string>
		<string>RemoveOutputFilter</string>
		<string>RemoveType</string>
		<string>RequestHeader</string>
		<string>Require</string>
		<string>ResourceConfig</string>
		<string>RewriteBase</string>
		<string>RewriteCond</string>
		<string>RewriteEngine</string>
		<string>RewriteLock</string>
		<string>RewriteLog</string>
		<string>RewriteLogLevel</string>
		<string>RewriteMap</string>
		<string>RewriteOptions</string>
		<string>RewriteRule</string>
		<string>SSIEndTag</string>
		<string>SSIErrorMsg</string>
		<string>SSIStartTag</string>
		<string>SSITimeFormat</string>
		<string>SSIUndefinedEcho</string>
		<string>SSLCACertificateFile</string>
		<string>SSLCACertificatePath</string>
		<string>SSLCARevocationFile</string>
		<string>SSLCARevocationPath</string>
		<string>SSLCertificateChainFile</string>
		<string>SSLCertificateFile</string>
		<string>SSLCertificateKeyFile</string>
		<string>SSLCipherSuite</string>
		<string>SSLEngine</string>
		<string>SSLMutex</string>
		<string>SSLOptions</string>
		<string>SSLPassPhraseDialog</string>
		<string>SSLProtocol</string>
		<string>SSLProxyCACertificateFile</string>
		<string>SSLProxyCACertificatePath</string>
		<string>SSLProxyCARevocationFile</string>
		<string>SSLProxyCARevocationPath</string>
		<string>SSLProxyCipherSuite</string>
		<string>SSLProxyEngine</string>
		<string>SSLProxyMachineCertificateFile</string>
		<string>SSLProxyMachineCertificatePath</string>
		<string>SSLProxyProtocol</string>
		<string>SSLProxyVerify</string>
		<string>SSLProxyVerifyDepth</string>
		<string>SSLRandomSeed</string>
		<string>SSLRequire</string>
		<string>SSLRequireSSL</string>
		<string>SSLSessionCache</string>
		<string>SSLSessionCacheTimeout</string>
		<string>SSLVerifyClient</string>
		<string>SSLVerifyDepth</string>
		<string>Satisfy</string>
		<string>ScoreBoardFile</string>
		<string>Script</string>
		<string>ScriptAlias</string>
		<string>ScriptAliasMatch</string>
		<string>ScriptInterpreterSource</string>
		<string>ScriptLog</string>
		<string>ScriptLogBuffer</string>
		<string>ScriptLogLength</string>
		<string>ScriptSock</string>
		<string>SecureListen</string>
		<string>SendBufferSize</string>
		<string>ServerAdmin</string>
		<string>ServerAlias</string>
		<string>ServerLimit</string>
		<string>ServerName</string>
		<string>ServerPath</string>
		<string>ServerRoot</string>
		<string>ServerSignature</string>
		<string>ServerTokens</string>
		<string>ServerType</string>
		<string>SetEnv</string>
		<string>SetEnvIf</string>
		<string>SetEnvIfNoCase</string>
		<string>SetHandler</string>
		<string>SetInputFilter</string>
		<string>SetOutputFilter</string>
		<string>ShmemUIDisUser</string>
		<string>StartServers</string>
		<string>StartThreads</string>
		<string>SuexecUserGroup</string>
		<string>ThreadLimit</string>
		<string>ThreadStackSize</string>
		<string>ThreadsPerChild</string>
		<string>TimeOut</string>
		<string>TransferLog</string>
		<string>TypesConfig</string>
		<string>UnsetEnv</string>
		<string>UseCanonicalName</string>
		<string>User</string>
		<string>UserDir</string>
		<string>VirtualDocumentRoot</string>
		<string>VirtualDocumentRootIP</string>
		<string>VirtualHost</string>
		<string>/VirtualHost</string>
		<string>VirtualScriptAlias</string>
		<string>VirtualScriptAliasIP</string>
		<string>Win32DisableAcceptEx</string>
		<string>XBitHack</string>

		<!-- Extra directives: -->
		<string>php_value</string>
		<string>php_flag</string>
		<string>php_admin_value</string>
		<string>php_admin_flag</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>Apch</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Apache Configuration File</string>
	<key>BBLMPredefinedNameList</key>
	<array>

		<!-- HTTP headers -->
		<string>{HTTP_ACCEPT}</string>
		<string>{HTTP_COOKIE}</string>
		<string>{HTTP_FORWARDED}</string>
		<string>{HTTP_HOST}</string>
		<string>{HTTP_PROXY_CONNECTION}</string>
		<string>{HTTP_REFERER}</string>
		<string>{HTTP_USER_AGENT}</string>

		<!-- connection and request -->
		<string>{AUTH_TYPE}</string>
		<string>{CONN_REMOTE_ADDR}</string>
		<string>{CONTEXT_PREFIX}</string>
		<string>{CONTEXT_DOCUMENT_ROOT}</string>
		<string>{IPV6}</string>
		<string>{PATH_INFO}</string>
		<string>{QUERY_STRING}</string>
		<string>{REMOTE_ADDR}</string>
		<string>{REMOTE_HOST}</string>
		<string>{REMOTE_IDENT}</string>
		<string>{REMOTE_PORT}</string>
		<string>{REMOTE_USER}</string>
		<string>{REQUEST_METHOD}</string>
		<string>{SCRIPT_FILENAME}</string>

		<!-- server internals -->
		<string>{DOCUMENT_ROOT}</string>
		<string>{SCRIPT_GROUP}</string>
		<string>{SCRIPT_USER}</string>
		<string>{SERVER_ADDR}</string>
		<string>{SERVER_ADMIN}</string>
		<string>{SERVER_NAME}</string>
		<string>{SERVER_PORT}</string>
		<string>{SERVER_PROTOCOL}</string>
		<string>{SERVER_SOFTWARE}</string>

		<!-- date and time -->
		<string>{TIME_YEAR}</string>
		<string>{TIME_MON}</string>
		<string>{TIME_DAY}</string>
		<string>{TIME_HOUR}</string>
		<string>{TIME_MIN}</string>
		<string>{TIME_SEC}</string>
		<string>{TIME_WDAY}</string>
		<string>{TIME}</string>

		<!-- mod_rewrite -->
		<string>{API_VERSION}</string>
		<string>{DOCUMENT_URI}</string>
		<string>{HTTPS}</string>
		<string>{IS_SUBREQ}</string>
		<string>{REQUEST_FILENAME}</string>
		<string>{REQUEST_SCHEME}</string>
		<string>{REQUEST_URI}</string>
		<string>{THE_REQUEST}</string>

		<!-- other -->
		<string>{LAST_MODIFIED}</string>
		<string>{CONTENT_TYPE}</string>
		<string>{HANDLER}</string>
		<string>{REQUEST_STATUS}</string>
		<string>{REQUEST_LOG_ID}</string>
		<string>{CONN_LOG_ID}</string>

		<!-- special purpose -->
		<string>downgrade-1.0</string>
		<string>force-gzip</string>
		<string>force-no-vary</string>
		<string>force-response-1.0</string>
		<string>gzip-only-text/html</string>
		<string>no-cache</string>
		<string>no-gzip</string>
		<string>nokeepalive</string>
		<string>prefer-language</string>
		<string>redirect-carefully</string>
		<string>suppress-error-charset</string>
		<string>force-proxy-request-1.0</string>
		<string>proxy-chain-auth</string>
		<string>proxy-initial-not-pooled</string>
		<string>proxy-interim-response</string>
		<string>proxy-nokeepalive</string>
		<string>proxy-sendchunked</string>
		<string>proxy-sendchunks</string>
		<string>proxy-sendcl</string>
		<string>proxy-sendextracrlf</string>
		<string>ssl-unclean-shutdown</string>
	</array>
	<key>BBLMScansFunctions</key>
	<true/>

	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>.htaccess*</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.conf</string>
		</dict>
	</array>

	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string></string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string>/Macro</string>
		<key>Close Strings 1</key>
		<string>'</string>
		<key>Close Strings 2</key>
		<string>"</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz^-_./{}</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string>Macro</string>
		<key>Open Strings 1</key>
		<string>'</string>
		<key>Open Strings 2</key>
		<string>"</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string>Macro</string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
